*. html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 1000px;
    width: 1000px;
}

.top {
    margin: 15px;
    padding: 5px;
    height: 250px;
    border: 3px solid black;
}

.top .purple {
    float: left;
    height: 200px;
    width: 5%;
    background: blueviolet;
    margin: 50px 30px 0px 0px;
}

.top .green {
    float: left;
    height: 100%;
    width: 40%;
    background: green;
    margin: 0px 30px 0px 0px;
}

.top .circle {
    border-radius: 240px;
    float: left;
    height: 240px;
    width: 240px;
    background: lightblue;
    margin: 0px 30px 0px 0px;
}

.middle {
    margin: 15px;
    padding: 30px;
    height: 300px;
    border: 4px dotted black;
}

.middle-content {
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px 5px #3A3A3A;
    background: palegoldenrod;
}

.bottom {
    /*border: 2px solid darkgray;*/
    margin: 15px;
    padding: 150px;
    text-align: center;
    height: 350px;
    font-size: 72pt;
    font-family: "Times New Roman";
    vertical-align: middle;
    letter-spacing: 0.25em;
    color: darkblue;
    box-shadow: 1px 1px 1px 1px #3A3A3A;
}

