body {
  margin: 0;
  background-color: #D8D8D8;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 20vh;
  background-color: #444444;
}

.main-content {
  background-color: #EFEFEF;
  margin: 0 auto;
  width: 75%;
  height: 70vh;
}

.footer { 
  background-color: #222222;
  margin: 0 auto;
  width: 75%;
  height: 10vh;
}