html, body {
	height: 100%;
}

.background {
	height: 100%;
	background: rgb(166, 167, 173);
}

.header_box {
	height: 20%;
	width: 100%;
	background: rgb(66, 68, 86);
	float: left;

}

.content {
	height: 100%;
	width: 60%;
	background: white;
	margin: auto;
	
}

.main {
	height: 90%;
	width: 100%;
	background: white;
}

.footer {
	height: 10%;
	width: 100%;
	background: rgb(41, 43, 61);
	margin: auto;
}