body {
    background-color: darkgrey;
    margin: 0;
    height: 100vh;
    width: 100%;
}
.top {
    background-color: grey;
    height: 25vh;
    width: 100%;
}
.main {
    background-color: white;
    margin: 0 auto;
    height: 65vh;
    width: 75%
}
.bottom {
    background-color: black;
    margin: 0 auto;
    height: 15vh;
    width: 75%;
}