header {
    background-color: #383838;
    height: 150px;
}

.float-left {
    float: left;
    height: 100vh;
    width: 15%;
    background-color: #D2D2D2;
}

.float-right {
    float: right;
    height: 100vh;
    width: 15%;
    background-color: #D2D2D2;
}

.main {
    height: 90vh;
}

.bottom {

    width: 100%;
    height: 10vh;
    background-color: #252525;
}