html {
	height: 100%
}
body {
	height: 100%;
}
.row {
	width: 100%;
	height: 8.25rem;
}
.grey {
	background-color: grey;
}
.black {
	background-color: #000;
}
.column-one {
	width: 20%;
	height: 100%;
}
.column-two {
	width: 40%;
	height: 25%;
}
.column-three {
	width: 60%;
	height: 100%;
}
.column-four {
	width: 80%;
	height: 100%;
}
.column-five {
	width: 100%;
	height: 100%;
}
.right {
	float: right;
}
.inline-block {
	display: inline-block;
}
.margin-center {
	margin: auto;
}
